:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.title {
    position: relative;
}

mat-toolbar {
    z-index: 2;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

mat-slide-toggle {
    font-size: 14px;
    margin-right: 16px;
}

mat-drawer-container {
    height: 100%;
}

.content {
    padding: 32px;
}